body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav{
    position: fixed;
    background: #EEEFF1;
    width: 100%;
    padding: 26px 0 20px 0;
    text-align: right;
}
nav a{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 164.06%;
    letter-spacing: 0.1em;
    color: black;
    transition: all 0.5s;
    margin-right: 42px;
}
nav a:hover{
    color: #065090;
}
header .container{
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}
header{
    padding: 281px 0 181px 0;
    background: #EEEFF1;
}
.header__elements{
    display: flex;
    gap: 10%;
    align-items: center;
}
.header__photo{
    width: 50%;
}
.header__info{
    width: 50%;
    text-align: left;
}
h1{
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    color: #000000;
    margin-bottom: 27px;
}
.header__info p{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-bottom: 32px;
}
.header__info a:hover{
    background: #0b2b52;
}
.header__info a{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    background: #34547A;
    padding: 25px 41px;
    display: inline-block;
    transition: all 0.5s;
}
.about{
    padding: 110px 16px;
    text-align: center;
}
.container{
    max-width: 1107px;
    margin: 0 auto;
    padding: 0 16px 0 16px;
}
h2{
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    margin-bottom: 21px;
    text-align: center;
}
.about p, .work p, .application p{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    max-width: 540px;
    text-align: center;
    margin: auto;
}
.progress{
    background: #34547A;
    padding: 100px 0 100px 0;
}
.progress__item{
    display: flex;
    margin: 0 auto;
}
.progress__item span{
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
    margin-bottom: 8px;
}
.progress__item p{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}
.progress__content{
    margin-left: 20px;
}
.progress__list{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}
.profile{
    padding: 50px 0 40px 0;
}
.profile__content h3{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 30px;
}
.profile__content h4{
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 59px;
    color: #34547A;
    margin-bottom: 30px;
}
.profile__content p{
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 25px;
    color: #000000;
    margin-bottom: 63px;
}
.profile__content a{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF; 
    background: #34547A;
    padding: 23px 41px;
    text-transform: uppercase;
    transition: all 0.5s;
}
.profile__content a:hover{
    background: #0b2b52;
}
.profile__elements{
    display: flex;
    justify-content: space-between;
}
.profile__item{
    border: solid #34547A 10px;
    border-radius: 100%;
}
.profile__item img{
    border-radius: 100%;
    width: 100%;
}
.work, .application{
    background: #EEEFF1;
    padding: 100px 0;
}
video{
    width: 100%;
}
.work p{
    margin-bottom: 57px;
}
.application p{
    margin-bottom: 65px;
}
form{
    max-width: 540px;
    margin: auto;
    position: relative;
}
.inputs{
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
}
input{
    padding: 17px 0 18px 20px;
    width: 255px;
}
textarea{
    padding: 17px 0 0 20px;
    width: 100%;
    resize: none;
}
button{
    padding: 20px 39px;
    background: #34547A;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.15em;
    color: #FFFFFF;
    transition: all 0.5s;
    margin: auto;
    display: block;
    margin-top: 50px;
}
button:hover{
    background: #0b2b52;
}
footer{
    padding: 57px 0 43px 0;
    background: #34547A;
}
footer h3{
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
}
footer p{
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
    margin-top: 20px;
    text-align: center;
}
iframe{
    display: none;
}
.form-wrapper{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    background: white;
    top: 0;
    left: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}
.wrapper_active{
    opacity: 1;
    visibility: visible;
}
